.add_employee_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.add_employee_box {
  position: absolute;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;

  &__input_container {
    padding: 5px 0;
  }

  &__input {
    width: 400px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    margin-top: 5px;
  }

  &__button {
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 10px 40px;
    cursor: pointer;
    margin-top: 25px;

    &:hover {
      background-color: rgba(128, 128, 128, 0.2);
    }

    &:active {
      background-color: rgba(128, 128, 128, 0.5);
    }
  }
}