.main {
  grid-area: c;

  .box {
    padding: 10px;
    height: calc(100vh - 160px);
    overflow: auto;
    box-sizing: border-box;

    &__user {
    }
  }
}

.user {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 20px;

  &__item_header_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
  }

  &__item {
    width: calc(100% / 6);
    word-break: break-word;
    padding: 5px 10px;
    margin-right: 10px;
    overflow: hidden;
    min-height: 30px;
    display: flex;
    align-items: center;

    &_header {
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: rgba(128, 128, 128, 0.2);
      }

      &:active {
        background-color: rgba(128, 128, 128, 0.5);
      }
    }
  }

  &__edit {
    color: blue;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba(128, 128, 128, 0.2);
    }

    &:active {
      background-color: rgba(128, 128, 128, 0.5);
    }
  }
}

.navigation_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;

  &__page {
    padding: 5px 12px;
    margin: 0 10px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;

    &:hover {
      background-color: rgba(128, 128, 128, 0.2);
    }

    &:active {
      background-color: rgba(128, 128, 128, 0.5);
    }
  }

  &__current_page {
    font-weight: 700;
    scale: 1.05;
  }
}