.popup_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.popup_box {
  position: absolute;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__yes {
    background-color: rgba(0, 128, 0, 0.5);

    &:hover {
      background-color: rgba(0, 128, 0, 0.8);
    }

    &:active {
      background-color: rgba(0, 128, 0, 0.5);
    }
  }


  &__no {
    background-color: rgba(255, 0, 0, 0.5);

    &:hover {
      background-color: rgba(255, 0, 0, 0.8);
    }

    &:active {
      background-color: rgba(255, 0, 0, 0.5);
    }
  }

  &__button {
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 10px 40px;
    cursor: pointer;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
  }


  &__text {
    font-size: 15px;
    font-weight: 700;
  }

}